stages:
  - docker  # create images that are needed by the rest of the build
  - build   # create any outputs of the project (binaries, containers, charts…)
  - test    # all quality checks
  - deploy  # export the outputs (publish to an artifact registry, deploy on a server…)

include:
  - remote: https://gitlab.com/opensavvy/ci-templates/-/raw/main/version.gitlab-ci.yml
  - remote: https://gitlab.com/opensavvy/ci-templates/-/raw/main/mirror.gitlab-ci.yml

  - local: docs/website/.gitlab-ci.yml

variables:
  # https://gitlab.com/opensavvy/automation/containers
  ci_containers: 0.8.1

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'schedule'
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

hello-world:
  image: alpine:latest
  script:
    - echo 'Hello world'
  interruptible: true

# region Automatically mirror the previous layer of the playground

mirror-playground:
  stage: deploy
  extends: [ .os.mirror ]
  needs: [ ]

  variables:
    url: "$playground_parent"
    name: "$playground_parent_name"
    key: "$playground_mirroring_key"
    key_public: "$playground_mirroring_key_public"

  rules:
    - if: $playground_parent == null || $playground_parent_name == null
      when: never
    - if: $playground_mirroring_key == null || $playground_mirroring_key_public == null
      when: never
    - if: $CI_PIPELINE_SOURCE == 'schedule'
    - when: manual
      allow_failure: true

# endregion
# region GitLab Pages

pages:
  image: alpine:latest
  stage: deploy
  needs:
    - job: mkdocs
      artifacts: true

  script:
    - mkdir -p public
    - mv -T docs-website public

  artifacts:
    paths:
      - public

  rules:
    - if: $CI_COMMIT_TAG
  interruptible: false

# endregion
# region Kotlin pipeline

gitlab-ci.main.kts compile:
  stage: .pre
  image: registry.gitlab.com/opensavvy/automation/containers/kotlin:$ci_containers
  needs: []
  variables:
    GIT_DEPTH: 1
  script:
    - ./.gitlab-ci.main.kts >kotlin-ci.yml
  artifacts:
    paths:
      - kotlin-ci.yml
  interruptible: true

gitlab-ci.main.kts run:
  stage: .pre
  needs: [ "gitlab-ci.main.kts compile", "os.version" ]
  trigger:
    include:
      - artifact: kotlin-ci.yml
        job: "gitlab-ci.main.kts compile"
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'schedule'
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

# endregion
